In [1]:
# Libraries
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import random
import urllib
import urllib2
import re
import scipy.stats as stats
import unicodedata
import datetime
import requests
import requests_cache
requests_cache.install_cache('demo_cache')
%matplotlib inline

## Helper functions

In [21]:
def get_reg_season(df, yr):
    return df[(df['datetime'] < datetime.date(yr,4,1)) | (df['g_num'] > 7)]

In [22]:
def get_playoffs(df, yr):
    return df[(df['datetime'] > datetime.date(yr,4,1)) & (df['g_num'] <= 7)]

In [28]:
def timestamp_to_datetime(timestamp):
    return datetime.date(timestamp.year, timestamp.month, timestamp.day)

In [29]:
def fix_dates(df):
    df = df.reset_index()
    datetimes = []
    for timestamp in df['date']:
        datetimes.append(timestamp_to_datetime(timestamp))
    df['datetime'] = datetimes
    return df

In [52]:
game_df = pd.read_excel('data/game_ginis/game_gini_2003_mp2.xlsx')
game_df = fix_dates(game_df)

In [53]:
game_df.head()

,index,date,g_id,g_num,gini_10,gini_2,gini_3,gini_4,gini_5,gini_6,gini_7,gini_8,gini_9,opp,team,season,datetime
0,0,2003-01-20,200301200NYK,39,0.571551,0.413203,0.415822,0.426961,0.411157,0.408177,0.419977,0.462596,0.517995,MIA,NYK,2003,2003-01-20
1,1,2003-01-17,200301170DEN,39,0.548925,0.286367,0.248595,0.217609,0.317703,0.390237,0.442998,0.486486,0.515693,CLE,DEN,2003,2003-01-17
2,2,2003-04-05,200304050CHI,77,0.616048,0.236509,0.184107,0.278255,0.302861,0.392473,0.455795,0.519566,0.568880,MIL,CHI,2003,2003-04-05
3,3,2003-03-11,200303110NYK,63,0.493934,0.044519,0.120180,0.159300,0.233726,0.316799,0.369994,0.439561,0.493934,NYK,MEM,2003,2003-03-11
4,4,2003-01-08,200301080UTA,34,0.504254,0.184042,0.246517,0.322625,0.356151,0.371337,0.393906,0.415897,0.463370,PHO,UTA,2003,2003-01-08

In [55]:
reg_df = get_reg_season(game_df, 2003)

In [60]:
game_df[(game_df['datetime'] < datetime.date(2003,3,1)) | (game_df['g_num'] > 7)]

,index,date,g_id,g_num,gini_10,gini_2,gini_3,gini_4,gini_5,gini_6,gini_7,gini_8,gini_9,opp,team,season,datetime
0,0,2003-01-20,200301200NYK,39,0.571551,0.413203,0.415822,0.426961,0.411157,0.408177,0.419977,0.462596,0.517995,MIA,NYK,2003,2003-01-20
1,1,2003-01-17,200301170DEN,39,0.548925,0.286367,0.248595,0.217609,0.317703,0.390237,0.442998,0.486486,0.515693,CLE,DEN,2003,2003-01-17
2,2,2003-04-05,200304050CHI,77,0.616048,0.236509,0.184107,0.278255,0.302861,0.392473,0.455795,0.519566,0.568880,MIL,CHI,2003,2003-04-05
3,3,2003-03-11,200303110NYK,63,0.493934,0.044519,0.120180,0.159300,0.233726,0.316799,0.369994,0.439561,0.493934,NYK,MEM,2003,2003-03-11
4,4,2003-01-08,200301080UTA,34,0.504254,0.184042,0.246517,0.322625,0.356151,0.371337,0.393906,0.415897,0.463370,PHO,UTA,2003,2003-01-08
5,5,2002-12-20,200212200DET,25,0.509844,0.064183,0.085588,0.094555,0.102592,0.236860,0.324275,0.396995,0.448575,CLE,DET,2003,2002-12-20
6,6,2002-11-15,200211150TOR,8,0.480534,0.128259,0.096723,0.085149,0.099393,0.218206,0.323158,0.406325,0.480534,DEN,TOR,2003,2002-11-15
7,7,2003-03-05,200303050TOR,61,0.482657,0.011284,0.055341,0.142980,0.185435,0.219642,0.310209,0.408750,0.482657,TOR,HOU,2003,2003-03-05
8,8,2002-11-29,200211290UTA,17,0.499389,0.273386,0.322175,0.320348,0.308041,0.305775,0.323172,0.372863,0.438703,UTA,MIN,2003,2002-11-29
9,9,2002-11-18,200211180NJN,10,0.282987,0.317014,0.247150,0.205212,0.214549,0.221397,0.221494,0.253166,0.270747,NJN,DEN,2003,2002-11-18
10,10,2003-01-28,200301280SEA,44,0.534470,0.056897,0.259470,0.311247,0.334873,0.369834,0.443360,0.496202,0.534470,SEA,GSW,2003,2003-01-28
11,11,2002-11-26,200211260POR,13,0.510597,0.244836,0.312897,0.352207,0.379099,0.391785,0.394943,0.409179,0.449422,POR,HOU,2003,2002-11-26
12,12,2002-11-10,200211100NYK,6,0.577449,0.170863,0.271835,0.303767,0.364843,0.433220,0.480863,0.531993,0.577449,NYK,NOH,2003,2002-11-10
13,13,2003-01-29,200301290ORL,46,0.536627,0.276784,0.278505,0.273569,0.321315,0.340201,0.394012,0.446562,0.487335,ORL,CLE,2003,2003-01-29
14,14,2003-03-09,200303090NOH,64,0.588949,0.195531,0.267951,0.276218,0.336399,0.419795,0.487981,0.543553,0.588949,NJN,NOH,2003,2003-03-09
15,15,2002-11-04,200211040DAL,3,0.600269,0.007234,0.057704,0.226984,0.330930,0.414051,0.479879,0.527882,0.565328,GSW,DAL,2003,2002-11-04
16,16,2003-04-02,200304020DET,74,0.528083,0.229323,0.210112,0.215501,0.244852,0.270378,0.347151,0.395472,0.470141,DET,TOR,2003,2003-04-02
17,17,2003-04-14,200304140DAL,81,0.427803,0.560263,0.483449,0.436245,0.407755,0.395579,0.379298,0.427803,0.427803,DAL,SEA,2003,2003-04-14
18,18,2002-11-04,200211040PHO,4,0.595790,0.002824,0.229037,0.359632,0.401373,0.468282,0.514525,0.543656,0.561701,DET,PHO,2003,2002-11-04
19,19,2003-04-04,200304040MIL,77,0.495728,0.053085,0.056273,0.117716,0.174196,0.272065,0.368971,0.435585,0.495728,CLE,MIL,2003,2003-04-04
20,20,2002-12-07,200212070NJN,21,0.515870,0.140780,0.303382,0.414897,0.459703,0.488536,0.499490,0.502120,0.506284,NJN,ORL,2003,2002-12-07
21,21,2002-11-01,200211010CHI,2,0.652227,0.072417,0.121635,0.278555,0.376123,0.434624,0.499168,0.562448,0.608755,CHI,NOH,2003,2002-11-01
22,22,2002-11-29,200211290SAC,17,0.521569,0.074369,0.122248,0.239112,0.276169,0.319214,0.349272,0.417286,0.464873,SAC,LAC,2003,2002-11-29
23,23,2003-03-01,200303010DAL,58,0.384659,0.119531,0.088252,0.092590,0.099480,0.130491,0.224912,0.302307,0.384659,DAL,MEM,2003,2003-03-01
24,24,2002-11-27,200211270BOS,14,0.548140,0.032566,0.221531,0.340899,0.377625,0.442486,0.500987,0.548140,0.548140,CHI,BOS,2003,2002-11-27
25,25,2003-04-16,200304160GSW,82,0.616364,0.319316,0.428997,0.506126,0.552131,0.567361,0.569663,0.576598,0.580681,GSW,LAL,2003,2003-04-16
26,26,2003-03-26,200303260LAC,71,0.418233,0.249512,0.203375,0.214413,0.208440,0.207901,0.256894,0.340585,0.418233,DAL,LAC,2003,2003-03-26
27,27,2002-12-16,200212160CHI,24,0.703071,0.277592,0.534104,0.600653,0.624138,0.628656,0.634934,0.635206,0.671815,CHI,BOS,2003,2002-12-16
28,28,2003-01-14,200301140MIA,38,0.518022,0.007529,0.248539,0.304289,0.314823,0.318985,0.354233,0.387607,0.460869,DET,MIA,2003,2003-01-14
29,29,2003-03-08,200303080ATL,63,0.654786,0.180616,0.174839,0.215549,0.351314,0.444794,0.506429,0.558730,0.612137,TOR,ATL,2003,2003-03-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2348,2348,2003-04-12,200304120NJN,80,0.381619,0.106576,0.142822,0.262955,0.321629,0.356868,0.381619,0.381619,0.381619,NJN,TOR,2003,2003-04-12
2349,2349,2003-02-16,200302160ATL,53,0.496592,0.031611,0.040278,0.054317,0.107997,0.134522,0.262806,0.357954,0.433666,ATL,IND,2003,2003-02-16
2350,2350,2003-04-05,200304050PHO,75,0.557206,0.022206,0.162504,0.218559,0.264459,0.324879,0.357884,0.432181,0.502335,MIN,PHO,2003,2003-04-05
2351,2351,2003-03-11,200303110DEN,61,0.366222,0.092971,0.084281,0.077255,0.106350,0.123633,0.168560,0.217132,0.289247,DEN,TOR,2003,2003-03-11
2352,2352,2003-04-04,200304040NJN,76,0.584838,0.277538,0.360742,0.410498,0.441911,0.459361,0.495109,0.515919,0.547248,MIA,NJN,2003,2003-04-04
2353,2353,2003-03-26,200303260DET,70,0.500330,0.140204,0.221359,0.252319,0.336710,0.410760,0.452057,0.500330,0.500330,ATL,DET,2003,2003-03-26
2354,2354,2003-03-25,200303250CLE,71,0.552203,0.082279,0.102584,0.221957,0.264479,0.324441,0.396726,0.452330,0.496229,CLE,GSW,2003,2003-03-25
2355,2355,2003-03-19,200303190MEM,67,0.425818,0.063191,0.058353,0.112888,0.192856,0.227950,0.278445,0.313309,0.355476,MEM,CLE,2003,2003-03-19
2356,2356,2002-12-08,200212080MEM,19,0.650516,0.123054,0.117125,0.316213,0.399893,0.456339,0.523156,0.571934,0.609624,MEM,PHO,2003,2002-12-08
2357,2357,2002-11-20,200211200DEN,13,0.573801,0.006125,0.211670,0.250499,0.266930,0.330903,0.399003,0.462295,0.520526,DEN,UTA,2003,2002-11-20
2358,2358,2003-04-10,200304100BOS,78,0.616144,0.525053,0.505477,0.459386,0.433810,0.470754,0.506224,0.546389,0.584773,BOS,PHI,2003,2003-04-10
2359,2359,2003-01-05,200301050NYK,32,0.550649,0.013436,0.218709,0.246688,0.339759,0.381278,0.414997,0.446195,0.494480,NYK,POR,2003,2003-01-05
2360,2360,2003-01-26,200301260IND,44,0.496771,0.002209,0.012765,0.128043,0.186575,0.268255,0.327457,0.367849,0.439331,LAC,IND,2003,2003-01-26
2361,2361,2003-04-08,200304080SAC,79,0.491367,0.127178,0.179403,0.206523,0.294965,0.356770,0.387521,0.410953,0.452499,SEA,SAC,2003,2003-04-08
2362,2362,2002-12-02,200212020DAL,17,0.526799,0.185961,0.159066,0.171669,0.239463,0.304315,0.393671,0.470014,0.526799,TOR,DAL,2003,2002-12-02
2363,2363,2003-01-27,200301270MIA,44,0.555765,0.184741,0.161031,0.186682,0.233539,0.297601,0.361864,0.438306,0.500236,IND,MIA,2003,2003-01-27
2364,2364,2002-12-21,200212210CHI,27,0.386699,0.039420,0.028988,0.051788,0.189845,0.259648,0.297722,0.386699,0.386699,CHI,IND,2003,2002-12-21
2365,2365,2003-03-05,200303050LAL,59,0.613538,0.279913,0.215979,0.296343,0.330215,0.374614,0.447413,0.504769,0.565230,IND,LAL,2003,2003-03-05
2366,2366,2002-12-26,200212260WAS,28,0.417854,0.157979,0.142577,0.190898,0.216175,0.285979,0.335610,0.382151,0.417854,WAS,DET,2003,2002-12-26
2367,2367,2003-02-23,200302230LAL,55,0.678941,0.353487,0.504663,0.514361,0.516349,0.567984,0.604465,0.648014,0.678941,SEA,LAL,2003,2003-02-23
2368,2368,2003-03-05,200303050PHO,61,0.653738,0.229085,0.393032,0.420891,0.482204,0.507913,0.534640,0.570784,0.612207,POR,PHO,2003,2003-03-05
2369,2369,2003-02-01,200302010MIL,46,0.554066,0.274021,0.344420,0.392097,0.410869,0.408593,0.454868,0.505968,0.554066,MIL,NYK,2003,2003-02-01
2370,2370,2003-04-02,200304020WAS,76,0.613354,0.436764,0.432847,0.425007,0.414983,0.442153,0.480162,0.517573,0.571397,WAS,SAC,2003,2003-04-02
2371,2371,2003-02-18,200302180GSW,54,0.612134,0.035507,0.266724,0.327551,0.410358,0.456306,0.481908,0.516257,0.563651,GSW,BOS,2003,2003-02-18
2372,2372,2002-12-14,200212140CLE,25,0.619867,0.015504,0.057970,0.206318,0.332327,0.427156,0.510274,0.569759,0.619867,DEN,CLE,2003,2002-12-14
2373,2373,2003-01-29,200301290PHO,43,0.720734,0.346065,0.410158,0.460227,0.522320,0.570245,0.605850,0.640944,0.685826,PHO,LAL,2003,2003-01-29
2374,2374,2002-12-03,200212030CHI,18,0.570986,0.187786,0.166791,0.215997,0.222013,0.316088,0.385199,0.462349,0.521608,CHI,NOH,2003,2002-12-03
2375,2375,2003-03-07,200303070LAL,64,0.569035,0.349574,0.277916,0.269133,0.293472,0.367520,0.431587,0.474708,0.527758,LAL,MIN,2003,2003-03-07
2376,2376,2003-01-28,200301280DET,45,0.666219,0.506862,0.428680,0.461772,0.485695,0.537028,0.572491,0.620094,0.666219,DET,BOS,2003,2003-01-28
2377,2377,2002-11-22,200211220GSW,11,0.466029,0.134218,0.226236,0.248446,0.239482,0.263018,0.334313,0.386781,0.427012,GSW,MIL,2003,2002-11-22

In [51]:
len(reg_df)

2378

In [44]:
len(np.unique(game_df['g_id']))

1189

In [45]:
wins_df = pd.read_excel('data/win_data/win_data_2003.xlsx')

In [19]:
wins_df.head()

        date          g_id  score1  score2 team1 team2 winner  season
0 2002-10-29  200210290LAL      87      82   SAS   LAL    SAS    2003
0 2002-10-29  200210290ORL      88      95   PHI   ORL    ORL    2003
0 2002-10-29  200210290SAC      67      94   CLE   SAC    SAC    2003
0 2002-10-30  200210300BOS      99      96   CHI   BOS    CHI    2003
0 2002-10-30  200210300DET      77      86   NYK   DET    DET    2003

In [16]:
s_res = pd.read_excel('data/nba_results.xlsx')

In [17]:
s_res.head()

,Team,W,L,WL_pct,PW,PL,PS/G,PA/G,yr,abbr,playoffs
0,Boston Celtics,53,29,0.646,48,34,108.0,105.4,2017,BOS,3
1,Cleveland Cavaliers,51,31,0.622,49,33,110.3,107.2,2017,CLE,4
2,Toronto Raptors,51,31,0.622,52,30,106.9,102.6,2017,TOR,2
3,Washington Wizards,49,33,0.598,46,36,109.2,107.4,2017,WAS,2
4,Atlanta Hawks,43,39,0.524,39,43,103.2,104.0,2017,ATL,1