In [1]:
# Libraries
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import random
import urllib
import urllib2
import re
import unicodedata
import datetime
import requests
import requests_cache
requests_cache.install_cache('demo_cache')
%matplotlib inline

In [47]:
results = pd.read_excel('data/nba_results.xlsx')

In [48]:
teams = []
for team in results['Team']:
    teams.append(str(''.join(x for x in team if x.isalpha() or x.isspace() or x.isnumeric())))

In [49]:
teams[:5]

['Boston Celtics',
 'Cleveland Cavaliers',
 'Toronto Raptors',
 'Washington Wizards',
 'Atlanta Hawks']

In [50]:
results['Team'] = teams

In [51]:
results.head()

,Team,W,L,WL_pct,PW,PL,PS/G,PA/G,yr,abbr,playoffs
0,Boston Celtics,53,29,0.646,48,34,108.0,105.4,2017,BOS,3
1,Cleveland Cavaliers,51,31,0.622,49,33,110.3,107.2,2017,CLE,4
2,Toronto Raptors,51,31,0.622,52,30,106.9,102.6,2017,TOR,2
3,Washington Wizards,49,33,0.598,46,36,109.2,107.4,2017,WAS,2
4,Atlanta Hawks,43,39,0.524,39,43,103.2,104.0,2017,ATL,1

In [53]:
results[results['Team'] == 'Brooklyn Nets']

              Team   W   L  WL_pct  PW  PL   PS/G   PA/G    yr abbr  playoffs
14   Brooklyn Nets  20  62   0.244  24  58  105.8  112.5  2017  BKN         0
43   Brooklyn Nets  21  61   0.256  22  60   98.6  106.0  2016  BKN         0
62   Brooklyn Nets  38  44   0.463  33  49   98.0  100.9  2015  BKN         1
91   Brooklyn Nets  44  38   0.537  38  44   98.5   99.5  2014  BKN         2
121  Brooklyn Nets  49  33   0.598  46  36   96.9   95.1  2013  BKN         1

In [54]:
# Abbreviations for team names--gotta be a better way, but this works and is quick enough
def return_abbr(team):
    if team == 'San Antonio Spurs':
        return 'SAS'
    elif team == 'New York Knicks':
        return 'NYK'
    elif team == 'Brooklyn Nets':
        return 'BRK'
    elif team == 'New Jersey Nets':
        return 'NJN'
    elif team == 'Golden State Warriors':
        return 'GSW'
    elif team == 'Washington Bullets':
        return 'WSB'
    elif team == 'Los Angeles Lakers':
        return 'LAL'
    elif team == 'Los Angeles Clippers':
        return 'LAC'
    elif team == 'Oklahoma City Thunder':
        return 'OKC'
    elif team == 'New Orleans Pelicans':
        return 'NOP'
    elif team == 'New Orleans Hornets':
        return 'NOH'
    elif team == 'Charlotte Hornets':
        return 'CHH'
    else:
        return team[:3].upper()

In [55]:
abbr = []
for team in results['Team']:
    abbr.append(return_abbr(team))

In [56]:
abbr[:5]

['BOS', 'CLE', 'TOR', 'WAS', 'ATL']

In [57]:
results['abbr'] = abbr

In [59]:
results.to_excel('data/nba_results.xlsx')

In [60]:
pd.read_excel('data/nba_results.xlsx')

,Team,W,L,WL_pct,PW,PL,PS/G,PA/G,yr,abbr,playoffs
0,Boston Celtics,53,29,0.646,48,34,108.0,105.4,2017,BOS,3
1,Cleveland Cavaliers,51,31,0.622,49,33,110.3,107.2,2017,CLE,4
2,Toronto Raptors,51,31,0.622,52,30,106.9,102.6,2017,TOR,2
3,Washington Wizards,49,33,0.598,46,36,109.2,107.4,2017,WAS,2
4,Atlanta Hawks,43,39,0.524,39,43,103.2,104.0,2017,ATL,1
5,Milwaukee Bucks,42,40,0.512,40,42,103.6,103.8,2017,MIL,1
6,Indiana Pacers,42,40,0.512,40,42,105.1,105.3,2017,IND,1
7,Chicago Bulls,41,41,0.500,42,40,102.9,102.4,2017,CHI,1
8,Miami Heat,41,41,0.500,44,38,103.2,102.1,2017,MIA,0
9,Detroit Pistons,37,45,0.451,38,44,101.3,102.5,2017,DET,0
10,Charlotte Hornets,36,46,0.439,42,40,104.9,104.7,2017,CHH,0
11,New York Knicks,31,51,0.378,31,51,104.3,108.0,2017,NYK,0
12,Orlando Magic,29,53,0.354,24,58,101.1,107.6,2017,ORL,0
13,Philadelphia 76ers,28,54,0.341,26,56,102.4,108.1,2017,PHI,0
14,Brooklyn Nets,20,62,0.244,24,58,105.8,112.5,2017,BRK,0
15,Golden State Warriors,67,15,0.817,67,15,115.9,104.3,2017,GSW,5
16,San Antonio Spurs,61,21,0.744,60,22,105.3,98.1,2017,SAS,3
17,Houston Rockets,55,27,0.671,55,27,115.3,109.6,2017,HOU,2
18,Utah Jazz,51,31,0.622,52,30,100.7,96.8,2017,UTA,2
19,Los Angeles Clippers,51,31,0.622,52,30,108.7,104.4,2017,LAC,1
20,Oklahoma City Thunder,47,35,0.573,43,39,106.6,105.8,2017,OKC,1
21,Memphis Grizzlies,43,39,0.524,42,40,100.5,100.0,2017,MEM,1
22,Portland Trail Blazers,41,41,0.500,40,42,107.9,108.5,2017,POR,1
23,Denver Nuggets,40,42,0.488,42,40,111.7,111.2,2017,DEN,0
24,New Orleans Pelicans,34,48,0.415,35,47,104.3,106.4,2017,NOP,0
25,Dallas Mavericks,33,49,0.402,33,49,97.9,100.8,2017,DAL,0
26,Sacramento Kings,32,50,0.390,31,51,102.8,106.7,2017,SAC,0
27,Minnesota Timberwolves,31,51,0.378,38,44,105.6,106.7,2017,MIN,0
28,Los Angeles Lakers,26,56,0.317,24,58,104.6,111.5,2017,LAL,0
29,Phoenix Suns,24,58,0.293,27,55,107.7,113.3,2017,PHO,0
...,...,...,...,...,...,...,...,...,...,...,...
877,San Antonio Spurs,28,54,0.341,28,54,108.3,113.4,1987,SAS,0
878,Los Angeles Lakers,65,17,0.793,62,20,117.8,108.5,1987,LAL,5
879,Portland Trail Blazers,49,33,0.598,49,33,117.9,114.8,1987,POR,1
880,Golden State Warriors,42,40,0.512,35,47,112.0,114.4,1987,GSW,2
881,Seattle SuperSonics,39,43,0.476,42,40,113.7,113.3,1987,SEA,3
882,Phoenix Suns,36,46,0.439,35,47,111.1,113.5,1987,PHO,0
883,Los Angeles Clippers,12,70,0.146,16,66,104.5,115.9,1987,LAC,0
884,Boston Celtics,67,15,0.817,63,19,114.1,104.7,1986,BOS,5
885,Philadelphia 76ers,54,28,0.659,47,35,110.4,108.0,1986,PHI,2
886,Washington Bullets,39,43,0.476,36,46,103.0,104.8,1986,WSB,1
887,New Jersey Nets,39,43,0.476,36,46,109.1,111.1,1986,NJN,1
888,New York Knicks,23,59,0.280,26,56,98.7,104.3,1986,NYK,0
889,Milwaukee Bucks,57,25,0.695,62,20,114.5,105.5,1986,MIL,3
890,Atlanta Hawks,50,32,0.610,47,35,108.6,106.2,1986,ATL,2
891,Detroit Pistons,46,36,0.561,44,38,114.2,113.0,1986,DET,1
892,Chicago Bulls,30,52,0.366,31,51,109.3,113.1,1986,CHI,1
893,Cleveland Cavaliers,29,53,0.354,34,48,107.8,110.6,1986,CLE,0
894,Indiana Pacers,26,56,0.317,32,50,103.9,107.2,1986,IND,0
895,Houston Rockets,51,31,0.622,48,34,114.4,111.8,1986,HOU,4
896,Denver Nuggets,47,35,0.573,44,38,114.8,113.5,1986,DEN,2
897,Dallas Mavericks,44,38,0.537,44,38,115.3,114.2,1986,DAL,2
898,Utah Jazz,42,40,0.512,40,42,108.2,108.5,1986,UTA,1
899,Sacramento Kings,37,45,0.451,33,49,108.8,111.9,1986,SAC,1
900,San Antonio Spurs,35,47,0.427,36,46,111.2,113.1,1986,SAS,1
901,Los Angeles Lakers,62,20,0.756,59,23,117.3,109.5,1986,LAL,3
902,Portland Trail Blazers,40,42,0.488,44,38,115.1,114.0,1986,POR,1
903,Los Angeles Clippers,32,50,0.390,24,58,108.6,115.5,1986,LAC,0
904,Phoenix Suns,32,50,0.390,33,49,110.0,113.0,1986,PHO,0
905,Seattle SuperSonics,31,51,0.378,41,41,104.4,104.5,1986,SEA,0
906,Golden State Warriors,30,52,0.366,33,49,113.4,116.9,1986,GSW,0